<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Finance Tracking App</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <style>
        body {
            display: flex;
            flex-direction: column;
            min-height: 100vh; 
            background-color: #f8f9fa;
        }
        footer {
            background-color: #343a40;
            color: white; 
            text-align: center; 
            padding: 10px 0; 
            margin-top: auto; 
        }
        header {
            background-color: #a0a0a0; 
        }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light ">
            <div class="container">
                <a class="navbar-brand" href="/Transactions/dashboard">Finance Tracking App</a>
                @if (User.Identity.IsAuthenticated)
                {
                 <a class="navbar-brand" style="font-size:17px;" href="/Transactions/dashboard">Dashboard</a>
                    <a class="navbar-brand" style="font-size:17px;" href="/Transactions/add-income">Add Income</a>
                    <a class="navbar-brand" style="font-size:17px;" href="/Transactions/add-expense">Add Expense</a>
                
                }
                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav ms-auto">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <form asp-controller="Auth" asp-action="Logout" method="post">
                                    <button type="submit" class="btn btn-link nav-link">Logout</button>
                                </form>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item d-flex">
                                <a class="nav-link" href="@Url.Action("Register", "Auth")">SignUp</a>
                                <a class="nav-link" href="@Url.Action("Login", "Auth")">Login</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container flex-grow-1">
        @RenderBody()

        @if (IsSectionDefined("ControlsSection"))
        {
            @RenderSection("ControlsSection", required: false)
        }
    </div>
    <footer>
        <p>&copy; 2024 - Finance Tracking App - FBR</p>
    </footer>
</body>
</html>
