@model ServiceLayer.DTOs.ReportingViewModel

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<div class="container mt-4">
    <form method="get" asp-action="GenerateReport">
        <div class="form-group">
            <label for="startDate">Start Date:</label>
            <input type="date" id="startDate" name="startDate" value="@Model.StartDate.ToString("yyyy-MM-dd")" class="form-control" required />
        </div>
        <div class="form-group">
            <label for="endDate">End Date:</label>
            <input type="date" id="endDate" name="endDate" value="@Model.EndDate.ToString("yyyy-MM-dd")" class="form-control" required />
        </div>
        <div class="form-group">
            <label for="categoryId">Category:</label>
            <select id="categoryId" name="categoryId" class="form-control">
                <option value="">All</option>
                @foreach (var category in Model.Categories)
                {
                    <option value="@category.Value" selected="@(category.Value == Model.CategoryId.ToString())">@category.Text</option>
                }
            </select>
        </div>
        <div>
            <button type="submit" name="reportType" value="pdf" class="btn btn-primary">Download PDF</button>
            <button type="submit" name="reportType" value="excel" class="btn btn-success">Download Excel</button>
        </div>
    </form>

    <canvas id="incomeExpenseChart" width="400" height="400"></canvas>
</div>

<script>
    var ctx = document.getElementById('incomeExpenseChart').getContext('2d');
    var chartData = {
        labels: ['Income', 'Expense', 'Balance'],
        datasets: [{
            data: [@Model.TotalIncomeFloat, @Model.TotalExpenseFloat, @Model.BalanceFloat],
            backgroundColor: ['#28a745', '#dc3545', '#ffc107']
        }]
    };
    console.log(@Model.TotalIncomeFloat);
    var incomeExpenseChart = new Chart(ctx, {
        type: 'pie',
        data: chartData,
    });
</script>
